/* footer.component.css */

.footer {
  background-color: #333;
  color: white;
  padding: 12px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px 0px 16px;
}

.footer-left img {
  margin-right: 10px;
}

.footer-right {
  display: flex;
  align-items: center;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

@media (max-width: 850px) {
  .footer-left img {
    width: 50;
    height: 30;
  }

  .footer-center {
    font-size: smaller;
  }

  .footer-right {
    display: flex;
    flex-direction: column;
  }
}
