@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk&display=swap');
*{
  font-family: 'Familjen Grotesk', sans-serif;
}

h1 {
  margin: 8px;
  font-size: 50px;
}

p {
  font-size: 20px;
}

.contactChild {
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 850px) {
  h1 {
    font-size: 40px;
  }

  p {
    font-size: 20px;
  }

  h2{
    font-size: 24px;
  }
}
