<section class="contact">

  <div class="contactChild">

    <h1>Contact me!</h1>

    <p>I'm Juan Barrios an engineering student and currently I live in Colombia. </p>
    <p>I'm learning how to use Angular to develop the frontend of web pages.</p>
    <p>Use the email below to contact me</p>

    <h2>juanbarriosferraro{{ '@' }}hotmail.com</h2>

    <p>You can see my other projects and code on my GitHub profile.</p>

    <div class="socials">
      <a href="https://github.com/JuanFerraro" target="_blank">
        <img [ngSrc]="githubUrl" alt="GitHub" width="80" height="80" priority>
      </a>
    </div>

  </div>

</section>

