<div class="container">

  <div class="timer-container">
    <h1 class="{{ statusColor }}" >{{ status }}</h1>
    <div class="timer">
      <!-- {{ clock }} -->
      <div class="{{ statusColor }}">{{ hours }}:{{ minutes }}:{{ seconds }}</div>
    </div>
    <div class="info">
      <h2>Cycles: {{ doneCycles }} / {{ numberOfCycles }}</h2>
      <h2>Sets: {{ doneSets }} / {{ numberOfSets }}</h2>
    </div>

    <div class="buttons">
      @if (flagStart) {
        <button class="start-button" (click)="start()" >Start</button>
        <button class="stop-button" (click)="stop()" >Stop</button>
      }
    </div>

  </div>

  <div class="settings-container">
    <app-settings (sendFormEvent)="recieveForm($event)" (resetEvent)="resetAll($event)" ></app-settings>
  </div>

</div>
